#home {
    position: relative;
    max-width: 500px;
    width: 100%;

    margin: 0 auto;
    padding: 15px 15px 200px 15px;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    .border-left {
        width: 100%;
        height: 1px;

        margin: 3rem auto;

        background-color: var(--border);
        border-radius: 1rem;

    }
}

@media (max-width:768px) {
    #hero {
        margin: 2vh auto;
    }

}