@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* dark */
:root {
  --p: #f3f3f3;
  --p-2: #333333;
  --p-3: #8f8f8f;

  --bg: #0a0a0a;
  --bg-2: #171717;
  --bg-3: #e6e6e6;
  --bg-nav: #252525a8;
  --bg-linear: rgba(39, 39, 39, 0.57);

  --border: #222222;
}

.light {
  --p: #000000;
  --p-2: #dddddd;
  --p-3: #919191;

  --bg: #f6f8f9;
  --bg-2: #ebeeef;
  --bg-3: #262626;
  --bg-nav: rgba(211, 211, 211, 0.747);
  --bg-linear: rgba(170, 170, 170, 0.24);

  --border: #e7e7e7;
}



* {
  font-family: "Inter", sans-serif;

  list-style: none;
  text-decoration: none;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}


body {
  background-color: var(--bg);
  overflow-y: scroll;
}

.top-fade {
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  height: 45px;
  box-shadow: var(--bx-1) 0px 60px 40px -7px;

  pointer-events: none;
  z-index: 999999;
}

.bottom-fade {
  position: fixed;
  bottom: -75px;
  left: 0;
  width: 100%;
  height: 45px;
  box-shadow: var(--bx-1) 0px -60px 40px -7px;

  pointer-events: none;
  z-index: 999999;
}






::-webkit-scrollbar {
  width: 10px;
  height: 1px;
  background-color: var(--border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--p);
  border-radius: 2rem;
}